.header {
  position: sticky;
  box-shadow: 0 2px 10px 0 rgba(83, 92, 90, 0.1);
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: 60px;
  background-color: white;

  &__logo {
    color: #70544f;
    display: flex;
    flex-direction: row;
    align-items: center;

    &__icon {
      width: 60px;
      height: 40px;
      object-fit: contain;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #70544f;
  }

  &__currency-button {
    background-color: transparent;
    width: 30px;
    height: 48px;
    vertical-align: middle;
    text-align: center;
    color: #70544f;
    font-weight: 700;
    font-size: 14px;
    border: none;

    &:hover {
      color: #c21313;
    }

    &.selected {
      color: #c21313;
      pointer-events: none;
    }
  }
}